<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2 th:text="'상품 자료 출력'">직접 문자 삽입</h2>
<table border="1">
	<tr>
		<td>
			아이디
			<span th:text="${vo.id}"></span>
		</td>	
	</tr>
	<tr>
		<td>
			상품명
			<span th:text="${vo.name}"></span>
		</td>	
	</tr>
	<tr>
		<td>
			가격
			<span th:text="${vo.price}"></span>
		</td>	
	</tr>
	<tr>
		<td>
			등록일
			<span th:text="${vo.regDate}"></span>
		</td>	
	</tr>
</table>
</body>
</html>